{% extends 'StcBundle::base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <!-- Bannière -->
    <header>
        <div class="row margin-0">
            <div class="col-xs-12 padding-0">
                <a href="{{path('index')}}">
                    <img src="{{ asset('images/banniere.png') }}" alt="Bannière Shoot the code" title="Shoot the Code" />
                </a>
            </div>
        </div>
    </header>
    <!-- /Bannière -->

    <main class="container-fluid">

        <!-- Avertissement aux personnes n'ayant pas activé Javascript -->
        <noscript>
        <section class="row">
            <p class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4 text-center">
                Ce jeu n'est accessible que pour les navigateurs autorisant javascript, désolé !
            </p>
        </section>
        </noscript>
        <!-- /Avertissement aux personnes n'ayant pas activé Javascript -->

        {% for flashMessage in app.session.flashbag.get('success') %}
            <p class="alert alert-success">{{ flashMessage }}</p>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <p class="alert alert-danger">{{ flashMessage }}</p>
        {% endfor %}

        {% if (app.request.session.get('userStatus') == 'connected') %}

            <div class="modal fade" id="soloModal">
                <div class="modal-dialog">
                    {{ render(controller('StcBundle:Game:create')) }}
                </div>
            </div>

            <div class="modal fade" id="multiModal"><div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong>Rejoindre une partie</strong>
                        </div>
                        <div class="modal-body text-center">
                            <img src="{{ asset('images/load.gif')}}" alt="Chargement ..."/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Jouer -->
            <section id="jouer" class="row visible-lg">
                <div class="col-lg-2 col-lg-offset-3 text-right">
                    <a href="#soloModal" data-toggle="modal">
                        <img src="{{ asset('images/creer.png') }}" alt="Créer une partie" title="Créer une partie" class="radius1" />
                    </a>
                </div>
                <div id="deconnexion" class="col-lg-2 text-center">
                    <p class="col-xs-12">Connecté sous {{app.request.session.get('userName')}}</p>
                    <a href="{{path('logout')}}"><button class="btn btn-primary">Se déconnecter</button></a>
                </div>
                <div class="col-lg-2" id="listGame">
                    <a href="#multiModal" data-toggle="modal">
                        <img  src="{{ asset('images/rejoindre.png') }}" alt="Rejoindre une partie" title="Rejoindre une partie" class="radius2" />
                    </a>
                </div>
            </section>
            <!-- /Jouer -->

        {% else %}
            <!-- Connexion -->
            {{ render(controller('StcBundle:User:login')) }}
            <!-- /Connexion -->

            <!-- Inscription -->
            <section id="inscription" class="row hidden">
                <h2 class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
                    Inscription :
                </h2>
                <p class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
                    <a href="#">Retourner au formulaire de connexion.</a>
                </p>
                <p class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3 hidden-lg">
                    Attention : votre résolution actuelle ne vous permet pas de jouer à ce jeu.
                </p>
                {{ render(controller('StcBundle:User:register')) }}
            </section>
            <!-- /Inscription -->
        {% endif %}

        <!-- Règles -->
        <section id="regles">
            {% include 'StcBundle:Game:regles.html.twig' %} 
        </section>
        <!-- /Règles -->

        <!-- Scores -->
        <section id="scores">
            {% include 'StcBundle:Game:score.html.twig' %} 
        </section>
        <!-- /Scores -->

        <!-- Contact -->
        <section id="contact">
            {% include 'StcBundle:Game:contact.html.twig' %} 
        </section>
        <!-- /Contact -->

    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        $('#listGame').click(function () {
            $.ajax({
                url: '{{ path("list",{'page':1}) }}',
                success: refreshList
            });
        });
        $('#multiModal').on('click', '.choicePageList', function () {
            var base_site = document.location + '/list/';
            base_site = base_site.replace('//list', '/list');
            $.ajax({
                url: base_site + $(this).attr('value'),
                success: refreshList
            });
        });
    </script>
{% endblock %}

