{% extends 'StcBundle::base.html.twig' %}

{% block title %}
    Jouer
{% endblock %}

{% block content %}
    <main id="plateau" class="container-fluid visible-lg">

        <div class="row">

            <!-- Plateau -->
            <div id="tableau">
                {{ render(controller ('StcBundle:Game:controls', { 'idGame' : game.id })) }}
            </div>
            <!-- /Plateau -->

            <!-- Menu latéral -->
            <div class="col-lg-1">
                <div class="row">
                    <a href="{{path('index')}}">

                        <img src="http://fakeimg.pl/87x87/?text=Accueil" alt="Accueil" title="Accueil" class="col-lg-12" id="jouer_accueil" />
                    </a>
                    <div id ="players" class="col-lg-12">
                        {% include 'StcBundle:Game:players.html.twig' %}
                    </div>
                    <img src="http://fakeimg.pl/87x87/?text=Pouvoir_1" alt="Pouvoir 1" title="Pouvoir 1" class="col-lg-12 power" />
                    <img src="http://fakeimg.pl/87x87/?text=Pouvoir_2" alt="Pouvoir 2" title="Pouvoir 2" class="col-lg-12 power" />
                    <img src="http://fakeimg.pl/87x87/?text=Pouvoir_3" alt="Pouvoir 3" title="Pouvoir 3" class="col-lg-12 power" />
                </div>
            </div>
            <!-- /Menu latéral -->
        </div>

        <!-- Indications -->
        <div id="indications" class="row">
            <div class="col-lg-1 col-lg-offset-2">
                <span class="glyphicon glyphicon-arrow-left"></span> Q
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-arrow-right"></span> D
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-arrow-up"></span> Z
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-arrow-down"></span> S
            </div>
            <div class="col-lg-2 col-lg-offset-1">
                Espace <span class="glyphicon glyphicon-chevron-up"></span>
            </div>
        </div>
        <!-- /Indications -->

    </main>

    <!-- Résolution trop faible -->
    <main class="hidden-lg text-center">
        <h1>
            Vous n'avez pas la résolution nécessaire pour jouer à ce jeu.
        </h1>
        <p><a href="index.html">Retourner à l'accueil.</a></p>
    </main>
    <!-- /Résolution trop faible -->

    <script>
        // variable qui va recevoir la balise img pour l'animation de tir
        var imgTir;
        // booléen utilisé afin d'empécher l'empilement des déplacements en mémoire
        var moveInProgress = false;
        // variable de la distance entre le bloc couleur et l'avion utilisée pour le tir missile
        var distanceTir;
        $('body').keypress(function (e) {

            e.preventDefault();
            var gameWaiting = document.getElementById('#loading');
            if (moveInProgress || gameWaiting) {
                return;
            }

            switch (e.charCode) {
                case 113:
                    moveInProgress = true;
                    // animate du déplacement, on cré une variable recevant une balise img
                    imgDeplace = $('<img />', {
                        'src': '{{asset('images/avion.png')}}',
                        'style': '  left: -26px; position:absolute;'
                    });
                    // on remplace la balise img my-plane par notre balise temp que l'on va animate
                    $('.avion.my-plane').html(imgDeplace);
                    imgDeplace.animate({"left": "-=69px"}, 200);
                    $.ajax({
                        url: '{{ path("controls", {"idGame" : game.id, "action" : "left"}) }}',
                        success: refreshTable
                    });
                    break;
                case 100:
                    moveInProgress = true;
                    // animate du déplacement
                    imgDeplace = $('<img />', {
                        'src': '{{asset('images/avion.png')}}',
                        'style': '  left: -26px; position:absolute;'
                    });
                    $('.avion.my-plane').html(imgDeplace);
                    imgDeplace.animate({"left": "+=65px"}, 200);
                    $.ajax({
                        url: '{{ path("controls", {"idGame" : game.id, "action" : "right"}) }}',
                        success: refreshTable
                    });
                    break;
                case 122:
                    moveInProgress = true;
                    // animate du déplacement
                    imgDeplace = $('<img />', {
                        'src': '{{asset('images/avion.png')}}',
                        'style': '  left: -27px; position:absolute;'
                    });
                    $('.avion.my-plane').html(imgDeplace);
                    imgDeplace.animate({"top": "-=30px"}, 200);
                    $.ajax({
                        url: '{{ path("controls", {"idGame" : game.id, "action" : "up"}) }}',
                        success: refreshTable
                    });
                    break;
                case 115:
                    moveInProgress = true;
                    // animate du déplacement
                    imgDeplace = $('<img />', {
                        'src': '{{asset('images/avion.png')}}',
                        'style': '  left: -27px; position:absolute;'
                    });
                    $('.avion.my-plane').html(imgDeplace);
                    imgDeplace.animate({"top": "+=30px"}, 200);
                    $.ajax({
                        url: '{{ path("controls", {"idGame" : game.id, "action" : "down"}) }}',
                        success: refreshTable
                    });
                    break;
                case 32:
                    moveInProgress = true;
                    // tir jusqu'au bout du plateau ou jusqu'au bloc
                    var distanceTir = distance();
                    //On cré la variable imgTir qui va contenir la balise img à injecter au DOM
                    imgTir = $('<img />', {
                        'src': '{{asset('images/missile_petit.png')}}',
                        'style': '  left: 27px; position:absolute; z-index: 1;'
                    });
                    imgTir.appendTo($('.avion.my-plane'));
                    imgTir.animate({"top": "-=" + distanceTir + "px"}, 200,
                            function () {
                                imgTir.attr({'src': '{{asset('images/bang.png')}}', 'style': 'left:12px; top: -' + distanceTir + 'px;'});
                            }
                    );

                    $.ajax({
                        url: '{{ path("controls", {"idGame" : game.id, "action" : "shoot"}) }}',
                        success: refreshTable
                    });
                    break;
            }
        });
        // function de calcul de la distance de tir
        function distance() {
            // sélecteur complexe : pour chaque tr (ligne), récupère les 3è td (cellules) dont la classe est
            // my-plane => si on en trouve une c'est que l'avion est en colonne 3! On restreint la longueur
            // de tir car on a un bloc couleur sur cette colonne.
            if ($('#plateau td:nth-child(3).my-plane').length === 1 || $('#plateau td:nth-child(6).my-plane').length === 1 ||
                    $('#plateau td:nth-child(10).my-plane').length === 1 || $('#plateau td:nth-child(13).my-plane').length === 1) {
                return (($('.avion.my-plane').offset().top - $('tr:nth-child(3)').offset().top) + 3);
            } else {
                return (($('.avion.my-plane').offset().top - $('tr:nth-child(1)').offset().top) + 3);
            }
        }

        function refreshTable(view) {
            moveInProgress = false;
            $('#tableau').html(view);
        }

        {#setInterval(function () {
            $('#tableau').load('{{ path("controls", {"idGame" : game.id, "action" : "null"}) }}');
            $('#players').load('{{ path("players", {"idGame" : game.id}) }}');
        }, 3000);#}

    </script>
{% endblock %}
