{% extends 'StcBundle::base.html.twig' %}

{% block title %}
    Jouer
{% endblock %}

{% block content %}
    <main id="plateau" class="container-fluid visible-lg">

        <div class="row">

            <!-- Plateau -->
            <div id="tableau">
                {% include 'StcBundle:Game:plateau.html.twig' %}
            </div>
            <!-- /Plateau -->

            <!-- Menu latéral -->
            <div class="col-lg-1">
                <div class="row">
                    <a href="{{path('index')}}">

                        <img src="http://fakeimg.pl/87x87/?text=Accueil" alt="Accueil" title="Accueil" class="col-lg-12" id="jouer_accueil" />
                    </a>
                    <img src="http://fakeimg.pl/87x87/?text=Pouvoir_1" alt="Pouvoir 1" title="Pouvoir 1" class="col-lg-12 power" />
                    <img src="http://fakeimg.pl/87x87/?text=Pouvoir_2" alt="Pouvoir 2" title="Pouvoir 2" class="col-lg-12 power" />
                    <img src="http://fakeimg.pl/87x87/?text=Pouvoir_3" alt="Pouvoir 3" title="Pouvoir 3" class="col-lg-12 power" />
                </div>
            </div>
            <!-- /Menu latéral -->
        </div>

        <!-- Indications -->
        <div id="indications" class="row">
            <div class="col-lg-1 col-lg-offset-2">
                <span class="glyphicon glyphicon-arrow-left"></span> Q
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-arrow-right"></span> D
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-arrow-up"></span> Z
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-arrow-down"></span> S
            </div>
            <div class="col-lg-2 col-lg-offset-1">
                Espace <span class="glyphicon glyphicon-chevron-up"></span>
            </div>
        </div>
        <!-- /Indications -->

    </main>

    <!-- Résolution trop faible -->
    <main class="hidden-lg text-center">
        <h1>
            Vous n'avez pas la résolution nécessaire pour jouer à ce jeu.
        </h1>
        <p><a href="index.html">Retourner à l'accueil.</a></p>
    </main>

    {% if plateau is defined %}

        <script>
            // variable qui va recevoir la balise img pour l'animation de tir
            var imgTir;
            // booléen utilisé afin d'empécher l'empilement des déplacements en mémoire
            var moveInProgress = false;
            // variable de la distance entre le bloc couleur et l'avion utilisée pour le tir missile
            var distanceTir;

            $('body').keypress(function (e) {
                e.preventDefault();
                if (moveInProgress) {
                    return;
                }

                switch (e.charCode) {
                    case 113:
                        moveInProgress = true;
                        $.ajax({
                            url: '{{ path("controls", {"idGame" : idGame, "action" : "left"}) }}',
                            success: refreshTable
                        });
                        break;
                    case 100:
                        moveInProgress = true;
                        $.ajax({
                            url: '{{ path("controls", {"idGame" : idGame, "action" : "right"}) }}',
                            success: refreshTable
                        });
                        break;
                    case 122:
                        moveInProgress = true;
                        $.ajax({
                            url: '{{ path("controls", {"idGame" : idGame, "action" : "up"}) }}',
                            success: refreshTable
                        });
                        break;
                    case 115:
                        moveInProgress = true;
                        $.ajax({
                            url: '{{ path("controls", {"idGame" : idGame, "action" : "down"}) }}',
                            success: refreshTable
                        });
                        break;
                    case 32:
                        moveInProgress = true;
                        distanceTir = ($('.avion.my-plane').offset().top - $('tr:nth-child(3)').offset().top) + 2;
                        //On cré la variable imgTir qui va contenir la balise img à injecter au DOM
                        imgTir = $('<img />', {
                            'src': '{{asset('images/missile_petit.jpg')}}',
                            'style': '  left: 25px; position:absolute; z-index: 1;'
                        });
                        imgTir.appendTo($('.avion.my-plane'));
                        //imgTir.animate({"top": "-=482px"}, "2500");
                        imgTir.animate({"top": "-=" + distanceTir + "px"}, "2500");
                        //affichage console de la balise imgTir rajoutée au DOM
                        //console.log(imgTir);

                        $.ajax({
                            url: '{{ path("controls", {"idGame" : idGame, "action" : "shoot"}) }}',
                            success: refreshTable
                        });
                        break;
                }
            });
            function refreshTable(view) {
                moveInProgress = false;
                $('#tableau').html(view);
            }

        </script>
    {% endif %}
    <!-- /Résolution trop faible -->
{% endblock %}

