<div class="modal fade" id="EndGameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Fin de la partie</strong>
            </div>
            <div class="modal-body text-center row">
                {% if board.planeTab is not empty %}
                    <img src="{{ asset('images/golden-thophy.jpg')}}" alt="Victoire!"/>
                {% else %}
                    <img src="{{ asset('images/loser.png')}}" alt="Défaite!"/>
                {% endif %}
                <br />
                <table class="col-lg-6 col-lg-offset-3">
                    {% if board.planeTab is not empty %}
                        <tr>
                            <td>
                                Vivants :
                                {% for plane in board.planeTab %}
                                    {% for player in players %}
                                        {% if player.Id == plane.IdUser %}
                                            {% if app.request.session.get('userId') == player.Id%}
                                                <p><strong>{{ player.login | upper  }}</strong></p>
                                            {% else %}
                                                <p>{{ player.login | upper  }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if deaths is not empty %}
                        <tr>
                            <td>
                                Morts :
                                {% for plane in deaths %}
                                    {% for player in players %}
                                        {% if player.Id == plane.IdUser %}
                                            {% if app.request.session.get('userId') == player.Id%}
                                                <p><strong>{{ player.login | upper  }}</strong></p>
                                            {% else %}
                                                <p>{{ player.login | upper  }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>
                            <p>Ennemis tués : {{ score }}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a href="{{path('index')}}" class="btn btn-info" role="button">Retour accueil</a>
            </div>
        </div>
    </div>
</div>
